@media screen and (max-width:720px)
  *
    max-width: 100%
  .section-1__form
    position: static
    width: 85%
  .section-1__form__elipse
    opacity: .3
    width: 85%
    margin: 0
  .section-1__form__light
    display: none
  .section-t
    margin: 0
    text-align: center
    font-size: 12vh
  .section-t-grad
    margin: 0
    text-align: center
    font-size: 5.6vh
  .section-1__input-1
    margin-top: 20px
    margin: 0 auto
  .media-center
    margin: 0 auto
    margin-left: 13%
  .nav-item__image
    display: none
  .nav-item__phone, .nav-link
    opacity: 1!important
    margin: 0 auto
    text-align: center
  a.nav-link
    font-size: 50px
    opacity: 1!important
    color: #fff!important
  .nav-item
    margin: 5px 0
    background-color: rgba(8, 8, 8, .7)
  .page-list
    display: none
